target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Scala ###
.bsp/
/.idea/.gitignore
/.idea/.name
/project/build.properties
/data0.hex
/data1.hex
/data2.hex
/data3.hex
/generated/firrtl_black_box_resource_files.f
/.idea/misc.xml
/.idea/sbt.xml
/.idea/scala_compiler.xml
/.idea/scala_settings.xml
/generated/Top.anno.json
/generated/Top.fir
/generated/Top.ScratchPadMem.MEM.v
/generated/Top.ScratchPadMem.MEM_1.v
/generated/Top.ScratchPadMem.MEM_2.v
/generated/Top.ScratchPadMem.MEM_3.v
/generated/Top.v
/.idea/vcs.xml
/a.o
/a.out
/test_run_dir/_VgaSimple_test2_should_pass/coverage.dat
/test_run_dir/_VgaSimple_test_should_pass/coverage.dat
/test_run_dir/_Assembly_test_should_pass/Debouncer.v
/test_run_dir/_Mandelbrot_test_should_pass/Debouncer.v
/test_run_dir/_Timer_test_should_pass/Debouncer.v
/test_run_dir/_VgaSimple_test2_should_pass/Debouncer.v
/test_run_dir/_VgaSimple_test_should_pass/Debouncer.v
/test_run_dir/_Assembly_test_should_pass/firrtl_black_box_resource_files.f
/test_run_dir/_Mandelbrot_test_should_pass/firrtl_black_box_resource_files.f
/test_run_dir/_Timer_test_should_pass/firrtl_black_box_resource_files.f
/test_run_dir/_VgaSimple_test2_should_pass/firrtl_black_box_resource_files.f
/test_run_dir/_VgaSimple_test_should_pass/firrtl_black_box_resource_files.f
/test_run_dir/Program_mmio_testsswitchess_should_pass/firrtl_black_box_resource_files.f
/test_run_dir/_Assembly_test_should_pass/PS2Receiver.v
/test_run_dir/_Mandelbrot_test_should_pass/PS2Receiver.v
/test_run_dir/_Timer_test_should_pass/PS2Receiver.v
/test_run_dir/_VgaSimple_test2_should_pass/PS2Receiver.v
/test_run_dir/_VgaSimple_test_should_pass/PS2Receiver.v
/test_run_dir/Program_mmio_testsswitchess_should_pass/PS2Receiver.v
/test_run_dir/RegisterFile_FF_should_pass/RegisterFile.lo.fir
/test_run_dir/RegisterFile_reference_should_pass/RegisterFile.lo.fir
/test_run_dir/RegisterFile_SRAM_should_pass/RegisterFile.lo.fir
/test_run_dir/_Timer_test_should_pass/Top.lo.fir
/test_run_dir/_Timer_test_should_pass/Top.vcd
/test_run_dir/_VgaSimple_test2_should_pass/verilated/verilated.d
/test_run_dir/_VgaSimple_test_should_pass/verilated/verilated.d
/test_run_dir/_VgaSimple_test2_should_pass/verilated/verilated.o
/test_run_dir/_VgaSimple_test_should_pass/verilated/verilated.o
/test_run_dir/_VgaSimple_test2_should_pass/verilated/verilated_cov.d
/test_run_dir/_VgaSimple_test_should_pass/verilated/verilated_cov.d
/test_run_dir/_VgaSimple_test2_should_pass/verilated/verilated_cov.o
/test_run_dir/_VgaSimple_test_should_pass/verilated/verilated_cov.o
/test_run_dir/_VgaSimple_test2_should_pass/verilated/verilated_threads.d
/test_run_dir/_VgaSimple_test_should_pass/verilated/verilated_threads.d
/test_run_dir/_VgaSimple_test2_should_pass/verilated/verilated_threads.o
/test_run_dir/_VgaSimple_test_should_pass/verilated/verilated_threads.o
/test_run_dir/_VgaSimple_test2_should_pass/verilated/verilated_vcd_c.d
/test_run_dir/_VgaSimple_test_should_pass/verilated/verilated_vcd_c.d
/test_run_dir/_VgaSimple_test2_should_pass/verilated/verilated_vcd_c.o
/test_run_dir/_VgaSimple_test_should_pass/verilated/verilated_vcd_c.o
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop.cpp
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop.cpp
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop.h
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop.h
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop.mk
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop.mk
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop_123
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop_124
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop___024root.h
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop___024root.h
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop___024root__DepSet_h61ff0645__0.cpp
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop___024root__DepSet_h61ff0645__0.cpp
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop___024root__DepSet_h61ff0645__0__Slow.cpp
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop___024root__DepSet_h61ff0645__0__Slow.cpp
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop___024root__DepSet_hb76ee3e6__0.cpp
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop___024root__DepSet_hb76ee3e6__0.cpp
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop___024root__DepSet_hb76ee3e6__0__Slow.cpp
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop___024root__DepSet_hb76ee3e6__0__Slow.cpp
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop___024root__Slow.cpp
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop___024root__Slow.cpp
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop__ALL.a
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop__ALL.a
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop__ALL.cpp
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop__ALL.cpp
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop__ALL.d
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop__ALL.d
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop__ALL.o
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop__ALL.o
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop__pch.h
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop__pch.h
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop__Syms.cpp
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop__Syms.cpp
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop__Syms.h
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop__Syms.h
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop__Trace__0.cpp
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop__Trace__0.cpp
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop__Trace__0__Slow.cpp
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop__Trace__0__Slow.cpp
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop__TraceDecls__0__Slow.cpp
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop__TraceDecls__0__Slow.cpp
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop__ver.d
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop__ver.d
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop__verFiles.dat
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop__verFiles.dat
/test_run_dir/_VgaSimple_test2_should_pass/verilated/VWildcatTop_classes.mk
/test_run_dir/_VgaSimple_test_should_pass/verilated/VWildcatTop_classes.mk
/test_run_dir/Program_mmio_testsswitchess_should_pass/WildcatTestTop.lo.fir
/test_run_dir/Program_mmio_testsswitchess_should_pass/WildcatTestTop.vcd
/generated/WildcatTop.anno.json
/generated/WildcatTop.fir
/test_run_dir/_Assembly_test_should_pass/WildcatTop.lo.fir
/test_run_dir/_Mandelbrot_test_should_pass/WildcatTop.lo.fir
/test_run_dir/_Timer_test_should_pass/WildcatTop.lo.fir
/test_run_dir/_VgaSimple_test2_should_pass/WildcatTop.lo.fir
/test_run_dir/_VgaSimple_test_should_pass/WildcatTop.lo.fir
/test_run_dir/Program_mmio_testsswitchess_should_pass/WildcatTop.lo.fir
/generated/WildcatTop.ScratchPadMem.MEM.v
/generated/WildcatTop.ScratchPadMem.MEM_1.v
/generated/WildcatTop.ScratchPadMem.MEM_2.v
/generated/WildcatTop.ScratchPadMem.MEM_3.v
/test_run_dir/_VgaSimple_test2_should_pass/WildcatTop.sv
/test_run_dir/_VgaSimple_test_should_pass/WildcatTop.sv
/generated/WildcatTop.v
/test_run_dir/_Assembly_test_should_pass/WildcatTop.vcd
/test_run_dir/_Mandelbrot_test_should_pass/WildcatTop.vcd
/test_run_dir/_Timer_test_should_pass/WildcatTop.vcd
/test_run_dir/_VgaSimple_test2_should_pass/WildcatTop.vcd
/test_run_dir/_VgaSimple_test_should_pass/WildcatTop.vcd
/test_run_dir/Program_mmio_testsswitchess_should_pass/WildcatTop.vcd
/test_run_dir/_VgaSimple_test2_should_pass/WildcatTop-harness.cpp
/test_run_dir/_VgaSimple_test_should_pass/WildcatTop-harness.cpp
/test_run_dir/_VgaSimple_test2_should_pass/verilated/WildcatTop-harness.d
/test_run_dir/_VgaSimple_test_should_pass/verilated/WildcatTop-harness.d
/test_run_dir/_VgaSimple_test2_should_pass/verilated/WildcatTop-harness.o
/test_run_dir/_VgaSimple_test_should_pass/verilated/WildcatTop-harness.o
